@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

ul, ol, li{
    list-style: none;
}

img{
    vertical-align: top;  /* картинки выровнены по верху, чтобы не было снизу артефактного отступа */
}

h1, h2, h3, h4 {
    font-weight: inherit;  /* насыщенность */
    font-size: inherit;
    margin: 0px;
  
}

body{
    height: 100%;     /* ? что значит у Боди высота 100% простыми словами. А что будет, если ее не поставить?*/
    font-size: 16px;
    line-height: 1;  /* межстрочный интервал */
    font-family: Roboto;
}


/* ------------- ШАПКА ------------ */

.wrapper{
    min-height: 100%;  /* ? */
    overflow: hidden;  /*скрыть все, что выходит за пределы */
    border: 3px solid rgb(17, 0, 255);

}

.header{
   background-color: #EEEEEE;
}

.header-container{
    max-width: 1160px;   /* ширина контейнера с информацией */
    margin: 0 auto;     /* центрирование контейнера */
    border: 1px solid red;


}

.nav-menu{
    display: flex;
    justify-content: start; /* для того, чтобы сделать конкретные отступы между лого и меню */
    align-items: center;
    width: 1160px;
    margin-top: 49px;

    font-weight: 500;
    /* border:1px solid black; */

}

.nav-logo{
    margin-right: 202px;
}

.nav-list{
    text-transform: uppercase;
    display: flex;
    margin-right: 246px;
    /* border:1px solid black; */


}

.nav-list li:not(:last-child){
    padding-right: 45px;
}

.nav-link-cart {
    display: flex;
}

.nav-link-cart_img{
    padding-right: 30px;
}

.nav-link-cart-text{
    text-shadow: 0px 4px 4px #00000040;
}

.title-page_header{
    margin: 87px 0px 106px 0px;
    /* border: 3px solid greenyellow; */

}

.title-page_header h1{
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;

}

/* -------------MEIN----------- */




margin: 0px 0px 0px 0px;
